@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {

}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

header {
    background: #000;
    box-shadow: 0px 40px 20px -20px rgb(0,0,0,.5);
    height: 80%;
    overflow: hidden;
    padding: 10px 50px;
    width: 70%;
}

header nav {
    display: flex;
    align-items: center;
    height: 10%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

header nav .logo {
    cursor: pointer;
    width: 50px;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li{
    padding: 3px 10px;
}

header nav ul li a {
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    transition: .3s linear;
}

header nav ul li a:hover {
   background-color: #fff;
   border-radius: 20px;
   color: #000;
}

header nav .bi-list {
    color: #fff;
    cursor: position;
    display: none;
    font-size: 20px;
}

section {
    display: flex;
    height: 82%;
    width: 100%;
}

section .content , .img_bx {
    height: 100%;
    width: 50%;
}

section .content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

section .content .cont{
    margin-left: 20%;
}

section .content .cont h1{
    color: #fff;
    font-size: 45px;
    line-height: 50px;
}

section .content .cont p{
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    width: 350px;
    word-break: break-all;
}

section .content .cont button{
    background: linear-gradient(150deg, #cf8f35, #fff4ca, #85400f);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 14px;
    margin-top: 10px;
    outline: none;
    padding: 5px 15px;
    text-shadow: 2px 2px rgb(133, 72, 15, .5);
    transition: .3s linear; 
}

section .content .cont button:hover{
    background: linear-gradient(150deg, #85400f, #fff4ca, #cf8f35);
}

section .content .cont button img {
    filter: drop-shadow(2px 0px 0px rgb(133, 75, 15, .5));
    margin-left: 5px;
    width: 25px; 
}

header footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0%;
    width: 100%; 
}

header footer ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

header footer ul li{
    padding: 3px 10px;
}

header footer ul li a{
    color: #fff;
    font-size: 14px;
    padding: 3px 10x;
    text-decoration: none;
    transition: .3s linear;
}

header footer ul li a .bi{
   margin-right: 5px;
}

header footer ul li a:hover{
    background-color: #fff;
    border-radius: 20px;
    color: #000;
}

header footer .img-cont{
    display: flex;
    align-items: center;
}

header footer .img-cont p{
  color: #e4d97c;
  font-size: 10px;
  margin-right: 5px;
}

header footer .img-cont img{
 width: 35px;
}





